html{
    background-image: url("images/grid.png");
}
h1{
    clear:left;
    margin-left: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blueviolet;
    font-size: 35px;
}

#aboutmetitle{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blueviolet;
}

#headshot{
    margin-right: .5%;
    margin-left: 1%;
    float:left;
    width:300px;
    margin-bottom: 1%
}

.aboutme{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    font-size: 20px;
}

#aboutmeicon{
    float:right;
    font-size:60px;
    color:black;
}