html{
    background-color:rgb(193, 240, 254);
}

#WIP{
    margin-top: 80px;
    text-align:center;
    font-size:40px;
}



#aboutmetitle{
    text-align:center;
    margin:1%;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(48, 60, 161);
}

#headshot{
    border-radius: 100%;
    margin-right: .5%;
    margin-left: 1%;
    float:left;
    width:300px;
    margin-bottom: 1%
}

.aboutme{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#003366;
    font-size: 20px;
}

#aboutmeicon{
    float:right;
    font-size:60px;
    color:black;
}

#aboutmediv{
    margin-top: 30px;
    overflow:hidden;
    border: solid;
    border-width: 5px;
    border-radius:20px;
    box-shadow: 0 4px 8px rgb(94, 94, 94);
    background-color: white;
}

.gitlink{
    display:inline-block;
    margin-right:10px;
    text-align:center;
}

.gitlink:hover{
    text-shadow:1px 1px 0px black;
}


#linkedinlink:hover{
    color: #0077b5;
    text-shadow:1px 1px 0px #0077b5;
}

.gitlink:visited{
    color:black;
}

