
.nav {
    overflow: hidden;
    background-color: #003366;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 101%; /* Full width */
    padding-right: 10px;
    margin-left: -10px;
    box-shadow: 0 2px 3px #003366;

  }
  
  .nav a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    color:rgb(211, 245, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(211, 245, 255);
    text-decoration: none;
    font-size: 19px;
    margin-left: 10px;
    float: left;
    letter-spacing: 5px;
}
  
  /* hover make different color */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #55796c;
    color: white;
  }